@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bruno Ace SC', cursive;
}
.App{
    background: url(bg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    color: white;
}
.board{
    display: flex;
    justify-content:center;
    align-items: flex-start;
    border: 3px solid black;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 2rem;
    height: 670px;
    width: 600px;
    transform: rotate(-90deg);
    background: rgba(0, 128, 255, 0.558);
}
.row{
    margin: 0.5rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.cell{
    border: 4px solid black;
    margin: 0.5rem;
    width: 80px;
    height: 80px;
    background:none;
    border-bottom: 8px solid black;
    border-top: 4px solid black;
    border-radius: 50%;
}
.player0{
    background: rgb(214, 214, 214);
}
.player1{
    background: green;
    border-radius: 50%;
}
.player2{
    background: blue;
    border-radius: 50%;
}
.winner{
  width: 350px;
  margin-left: 3rem;
  margin-top: .5rem;
  font-weight: bold;
}
.winner span{
    margin-right: .5rem;
}
.scores{
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
button{
    border: none;
    background: rgb(0, 140, 255);
    color: white;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all .3s ease;
}
button:hover{
    background: rgba(0, 140, 255, 0.734);
}
h1{
    margin-bottom: 1rem;
}

@media (max-width: 700px){
    .App{
        justify-content: start;
        padding-top: 2rem;
    }
    .board{
        height: 330px;
        width: 365px;
    }
    .row{
        width: 30px;
        height: 30px;
    }
    .cell{
        width: 30px;
        height: 30px;
    }
    button{
        padding: 0.5rem;
    }
}
